*{
    margin: 0px;
    padding:0px;
}

#navbar{
    width: 100%;
    height: 15vh;
    background-color: cornflowerblue;
}

#undernav{
    background-color:ghostwhite;
    padding: 0px;
    padding-top: 0px;
}



