*{
    margin: 0px;
    padding: 0px;

}

#navbar{
    background-color: bisque;
    height: 15vh;
    width: 100%;
}

#sidebar{
    height: 100vh;
    width: 20%;
    background-color: aquamarine;
}

#iframe{
    height: 100vh;
    width: 80%;
    background-color: gainsboro;
}
#content{
    height: 100vh;
    width: 100%;
}